nav {
  background-color: var(--accent-color);
  padding: 1rem;
  display: flex;
  column-gap: 1.5rem;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: var(--app-white);
  font-weight: bold;
}

nav a:hover {
  transform: scale(1.1) translate(0,-0.1rem);
}

nav a.title {
  font-size: xx-large;
  font-weight: bolder;
}

nav a.title:hover, nav a.title:focus {
  transform: none;
}
