nav {
  background-color: var(--accent-color);
  padding: 1rem;
  display: flex;
  column-gap: 1.5rem;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

nav a {
  text-decoration: none;
  color: var(--app-white);
  font-weight: bold;
}

nav a:hover {
  transform: scale(1.1) translate(0,-0.1rem);
}

nav h1 {
  font-size: 2rem;
  font-weight: bolder;
  margin: 0;
}

nav h1 a.title:hover, nav h1 a.title:focus {
  transform: none;
}

nav div {
  flex-grow: 1;
  display: flex;
  justify-content: end;
  column-gap: inherit;
}

main {
  padding-top: 4.3rem;
}
