.bookshelf-container {
  width: 75%;
  margin: 2rem auto;
}

.bookshelf-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.bookshelf-top button {
  align-self: flex-end;
}
