button.search {
  margin: 0;
}

.search-container {
  margin-right: 15px;
  position: relative;
}

.search-input-container {
  display: flex;
  justify-content: space-between;
}
.search-input-container input {
  width: 75%;
}

.results {
  margin-top: 1rem;
  border: 2px solid var(--accent-color);
  border-radius: 5px;
  position: absolute;
  max-height: 10.8rem;
  width: 100%;
  z-index: 5;
  background-color: var(--background-color);
}

.closed {
  overflow-y: hidden;
}

.open {
  overflow-y: scroll;
}

.results-clearfix {
  margin-top: 1rem;
  border: 2px solid transparent;
}

p.error-msg {
  margin-bottom: 0;
  margin-top: 0.5rem;
}
